@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300;1,400;1,500;1,600&display=swap");

#body-bg {
  background-color: rgba(128, 128, 128, 0.472);
  font-family: "Fira Sans", sans-serif;
}

.bg-img {
  background-image: url(img/simple-house-01.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.nav {
  transform: translate(0, -130px);
  position: absolute;
  width: 86%;
}
.nav-item a {
  color: #fff;
}
.nav-item a:hover,
.nav-item .activs {
  transition: ease-in-out 0.4s;
  border-bottom: 1px solid #fff;
  color: #fff !important;
  padding-bottom: 15px;
}

.btns {
  border: 1px solid #298f66;
  padding: 10px 25px;
  color: #2f956d;
  font-weight: 500;
  transition: all 0.4s;
}
.btns:hover,
.btns.active {
  background-color: #298f66;
  color: #fff;
}

.bg-watch {
  background-image: url(img/about-05.jpg);
  width: 1099px;
  height: 220px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.icons {
  font-size: 65px;
  color: gray;
  margin-top: 50px;
  margin-bottom: 50px;
}
